<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group" id="staffID">
    <%= f.label :staffID, :class => "input-group-addon" %>
    <%= f.text_field :staffID, :class => "form-control" %>
  </div>
  <br>
  <div  class="input-group">
    <%= f.label :lastName, :class => "input-group-addon" %>
    <%= f.text_field :lastName, :class => "form-control" %>
  </div>
  <br>
  <div class="input-group">
    <%= f.label :firstName, :class => "input-group-addon" %>
    <%= f.text_field :firstName, :class => "form-control" %>
  </div>
  <br>
  <div class="input-group">
    <%= f.label :deviceID, :class => "input-group-addon" %>
    <%= f.text_field :deviceID, :class => "form-control" %>
  </div>
  <br>
  <div class="input-group">
    <%= f.label :authenticated, :class => "input-group-addon" %>
    <%= f.text_field :authenticated, :class => "form-control" %>
  </div>
  <br>
  <div class="input-group">
    <%= f.label :region, :class => "input-group-addon" %>
    <%= f.text_field :region, :class => "form-control" %>
  </div>
  <br>
  <div class="input-group">
    <%= f.label :group, :class => "input-group-addon" %>
    <%= f.number_field :group, :class => "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
