<h1>Listing emergency_notifications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergency_notifications.each do |emergency_notification| %>
      <tr>
        <td><%= emergency_notification.title %></td>
        <td><%= emergency_notification.message %></td>
        <td><%= link_to 'Show', emergency_notification %></td>
        <td><%= link_to 'Edit', edit_emergency_notification_path(emergency_notification) %></td>
        <td><%= link_to 'Destroy', emergency_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emergency notification', new_emergency_notification_path %>
